@use "../../assets/SASS/variables.scss" as *;

.filter {
  width: 180px;
  height: 800px;
  padding: 20px;
  margin: 40px 20px 0 20px;
  background-color: $color-projectYellow;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/746001/concrete-wall.png);
  transition: all 0.25s;
  grid-area: 1/1/2/2;

  &:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border: solid 8px $color-projectBlack;
  }

  clip-path: polygon(
    0.25rem 0.75rem,
    100% 0.5rem,
    calc(100% - 0.5rem) calc(100% - 0.25rem),
    0.87897rem calc(100% - 1rem)
  );

  &__heading {
    color: $color-projectWhite;
    font-family: Bassanova W03 Regular, sans-serif;
  }

  &__subHeading {
    color: $color-projectWhite;
    font-family: Bassanova W03 Regular, sans-serif;
  }
}

@media only screen and (max-width: 1174px) {
  .filter {
    width: 90%;
    height: 200px;
    padding: 20px;
    margin: 35px auto 0 auto;
    background-color: $color-projectYellow;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/746001/concrete-wall.png);
    transition: all 0.25s;
    grid-area: 1/1/2/2;
  }
}
