@use "./assets/SASS/variables.scss" as *;

*{margin: 0;
padding: 0;
box-sizing: border-box;}

.App-grid{
  display: grid;
  grid-template-rows:10% 1fr;
  grid-template-columns: 20% 1fr;


 
};

.App{
  background-color: #AEC6D2;
  background-color: $color-projectBlue;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/746001/concrete-wall.png);
}