@use "../../assets/SASS/variables.scss" as *;

@font-face {
  font-family: "Bassanova W03 Regular";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/746001/598766aa-1b77-4518-abb1-ce6be0451d27.eot?#iefix");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/746001/598766aa-1b77-4518-abb1-ce6be0451d27.eot?#iefix")
      format("eot"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/746001/2ad3a7eb-b199-47e5-a40f-a234d82a05d2.woff2")
      format("woff2"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/746001/df4e07cb-84d6-4b39-9da2-032ed42d5760.woff")
      format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/746001/4e9b153c-2ce2-4780-9e82-de46b01ff111.ttf")
      format("truetype");
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/746001/concrete-wall.png);
  background-color: $color-projectRed;
  transition: all 0.25s;
  grid-area: 1/1/2/3;

  &:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  clip-path: polygon(
    0.25rem 0.75rem,
    100% 0.6rem,
    calc(100% - 1rem) calc(110% - 0.5rem),
    0.8587897rem calc(100% - 1rem)
  );

  &__icon {
    text-decoration: none;
    font-size: 3em;
    font-weight: 900;
    font-family: Bassanova W03 Regular, sans-serif;
    color: $color-projectWhite;
    // split icon styles
    position: relative;
    display: flex;
    justify-content: center;
    width: max-content;
  }

  // adding in the stylings

  &__icon > .split-text {
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 1;
    transition: color 0ms 200ms;
  }

  &__icon > .split-text {
    color: transparent;
    user-select: none;
    transition-delay: 0ms;
  }

  &__icon > .split-text::before,
  &__icon > .split-text::after {
    position: absolute;
    content: attr(data-text);
    height: calc(0.5em);
    overflow: hidden;
    left: 0;
    right: 0;
    color: $color-projectWhite;
    transition: color 200ms ease-in-out, transform 200ms ease-in-out;
    user-select: none;
  }

  &__icon:hover > .split-text::before,
  &__icon:hover > .split-text::after {
    color: $color-projectWhite;
    transform: skewX(15deg);
  }

  &__icon > .split-text::after {
    bottom: 0;
    display: flex;
    align-items: flex-end;
  }

  &__icon::before {
    content: "";
    position: absolute;
    width: 110%;
    left: -5%;
    top: calc(50% - 1px);
    height: 4px;
    transform: scale(0);
    background-color: $color-projectWhite;
    border-radius: 20px;
    z-index: 1;
    transition: transform 200ms ease-in-out;
  };

  &__icon:hover::before {
    transform: scale(1);
  }

  &__links {
    display: inline;
    list-style: none;

    &-link {
      display: inline;
      padding: 0 20px;
      text-decoration: none;
      font-size: 1.5em;
      font-weight: 600;
      color: $color-projectWhite;
      font-family: Bassanova W03 Regular, sans-serif;
    }
  }
}

@media screen and (min-width: 992px) {
  .nav-bar {
    grid-column: 1 / -1;
  }
}
