$color-projectRed: #C02F2F;
$color-projectMaroon: #9A2C2C;
$color-projectRouge: #E23D3D;
$color-projectYellow: #D69E2E;
$color-projectWhite: #FFFFFF;
$color-projectBlack: #000000;
$color-projectGrey:#4A5567;
$color-projectBlue: #d9e5e3;
$color-projectGreen: green



